.logo {
    width: 50px;
    object-fit: cover;
}
.mainpage{
    width: 100%;
}
.upperside {
    padding: 2.5rem;
    /* background-color: gray */
}

.sidebar {

    border-right: 1px solid rgb(204, 204, 204);
    height: 100vh;
   

}

.midbtn {
    padding: .5rem;
    width: 100%;
    margin-top: 1rem;
    border-radius: 8px;
    background-color: #8E24EE;
    color: rgb(255, 255, 255);
}

.midbtn svg {
    margin-right: 16px;
    color: white;
}

.upperside {
    height: 70%;
    border-bottom: 1px solid gray;
}

button {
    border: none;
    outline: none;

}

.uppersidetop span {
    font-size: 24px;
    // padding-left: 24px;
    font-weight: 600;
}



.lowerside {
    padding: 0 2.5rem;

}

.intrestnav {
    padding: 24px 0px;
    width: 100%;

}

.listitems a {
    text-decoration: none;
    color:black;
    // margin-left: 16px;
    font-size: 16px;
}
.intrestnav{
    svg{
        margin-right: 8px;
    }
}
.uppersidetop{
    display: flex;
    align-items: center;
    justify-content: center;
}
.log-btn {
    width: 100%;
    background: none;
    border: 1px solid #8E24EE;
    color: #8E24EE;
    padding: .5rem;
    border-radius: 8px;
    text-align: center;
}

.log-btn svg {
    margin-right: 16px;
}

/* =================================== */
/* Main Chat */

/* =================================== */
.userlogo {
    object-fit: cover;
    width: 2.5rem;
    margin: 1rem;
    margin-top: 0;

}

.usericon {
    width: 2.5rem;
    background: white;
    border-radius: 8px;
    margin: 1rem;
    margin-top: 0;
}

.main {
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    justify-content: flex-end;

}
.chatfooter{
    // margin-top: 1rem;
    width: 100%;
    flex-direction: column;
    // margin-top: auto;
}
.inp{
    padding: 0.25rem;
   
    display: flex;
    align-items: center;
    width: 80%;
   
    background: rgba(155, 57, 254, 0.1);
border: 1px solid #9B39FE;
box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.2);
border-radius: 8px;
}
.inp>input{
    width: calc(100% - 3rem);
    outline: none;
    padding: 1rem;
    color: black;
}
.inp>input svg{
    background: transparent;
}
.inp>input, .send{
background: transparent;
border: none;
// color: white;
}
.inp{
    .send{
        background-color: #8E24EE;     
        margin: 0 auto;
width: 36px;
height: 36px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px; 
border-radius: 4px;
color: white;
    }
}
.chats{
    overflow: hidden;
    overflow-y: overlay;
    scroll-behavior: smooth;
    /* width: 100%; */
    max-width: 70rem;
   height: calc(100% - 17rem); 
    
}
.chat{
    margin: .5rem;
    padding: 1rem .5rem;
    /* font-size: 1.2rem; */
    display: flex;
    align-items: flex-start;
    text-align: justify;
    line-height: 2rem;
    border-radius: 8px;
    background: #eeeeee;
}
.bot{
    background: #F8F1FF;
    width: fit-content;
    border-radius: 8px;
}
.btn
{padding: 10px 24px;
border: 1px solid #9B39FE;
color: #9B39FE;
border-radius: 8px;
outline: none;
svg{
    margin-right: 8px;
}

}

.btn:hover{
    background: #9B39FE;
    border: #9B39FE;
    color: white;
    outline: none;
}
.chat{
    p{
        margin-right: 10px;
    }
}

.btn-secondary{
    padding: 12px 10px;
    width: 100%;
    background: transparent;
    margin-bottom: 24px;
    margin-top: 24px;
    border-radius: 8px;
    text-align: start;
}
.btn-secondary:hover{
    background: #8E24EE;
    color: white;
}
.btn-secondary{
    svg{
        margin-right: 8px;
    }
}